
.u-displayBlock {
  display: block !important;
}

.u-inlineBlock {
  display: inline-block !important;
}

.u-inline {
  display: inline !important;
}

.u-displayFlex {
  display: flex !important;
}

.u-displayInlineFlex {
  display: inline-flex !important;
}
