
.u-flexColumn {
  flex-direction: column !important;
}

.u-flexRowReverse {
  flex-direction: row-reverse !important;
}

.u-flexWrap {
  flex-wrap: wrap !important;
}

.u-flex-1 {
  flex: 1 !important;
}

.u-flex-2 {
  flex: 2 !important;
}

.u-alignItemsCenter {
  align-items: center !important;
}

.u-justifySpaceBetween {
  justify-content: space-between !important;
}

.u-justifyFlexEnd {
  justify-content: flex-end !important;
}
