
.u-grid {
  font-size: 0;
  margin-bottom: -10px;
  margin-left: -10px;
}

.u-grid--sketchLarge {
  margin: 0 -#{sketch-size(large) / 2} -#{sketch-size(large)};
}

.u-grid--small {
  margin-bottom: -5px;
  margin-left: -5px;
}

.u-grid--large {
  margin-bottom: -16px;
  margin-left: -16px;
}

.u-grid--xxlarge {
  margin-bottom: -40px;
  margin-left: -40px;
}

.u-grid--flush {
  margin-bottom: 0;
  margin-left: 0;
}

.u-grid-item {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 10px;
  padding-left: 10px;
  vertical-align: top;

  .u-grid--small > & {
    margin-bottom: 5px;
    padding-left: 5px;
  }

  .u-grid--large > & {
    margin-bottom: 16px;
    padding-left: 16px;
  }

  .u-grid--xxlarge > & {
    margin-bottom: 40px;
    padding-left: 40px;
  }

  .u-grid--sketchLarge > & {
    margin-bottom: #{sketch-size(large)};
    padding: 0 #{sketch-size(large) / 2};
  }

  .u-grid--flush & {
    margin-bottom: 0;
    padding-left: 0;
  }
}
