
.u-imageCover {
  background-position: center center !important;
  background-size: cover !important;
}

.u-imageContain {
  background-position: center center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
