
.u-lineHeight--32 {
  line-height: 32px !important;
}

.u-lineHeight--20 {
  line-height: 20px !important;
}

.u-lineHeight--1p5 {
  line-height: 1.5 !important;
}

.u-lineHeight--1 {
  line-height: 1 !important;
}
