/* mode */

.u-mode {
  height: 0;
  visibility: hidden;
  width: 0;
}

.u-mode-small {
  display: none;

  @include media($breakpoint-smallDown) {
    display: block;
  }
}

.u-mode-standard-tablet-portrait {
  display: none;

  @include media($breakpoint-smallUp "<=medium") {
    display: block;
  }
}

.u-mode-standard-tablet-landscape {
  display: none;

  @media (min-width: 1024px) and (max-width: 1024px) {
    display: block;
  }
}
