
.is-submitting {
  .is-disabledWhileSubmitting {
    opacity: 0.8;
    pointer-events: none;
    color: $tertiary;
    filter: grayscale(1);
    -moz-user-select: none;
    -ms-touch-action:   none;
    -ms-touch-select:   none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;

    &.is-fixed {
      opacity: 1; // don't make fixed elements transparent as they often overlap UI
    }
  }
}
