
.DirectionButton {
  background: white;
  box-shadow: 0 0 7px rgba(black, 0.07);
  height: 36px;
  position: relative;
  width: 36px;
}

.DirectionButton-iconContainer {
  left: 50%;
  position: absolute;
  top: 50%;
}
