
.EventTimePicker {
  display: inline-block;
  margin-right: 8px;
}

.EventTimePicker-title {
  display: inline-block;
  margin-right: 8px;
}

.EventTimePicker-date,
.EventTimePicker-time {
  display: inline-block;
}
