
.LoadingText {
  color: color(tertiary);
  height: 32px;
  padding: 6px 0 5px;
}

.LoadingText-value {
  display: inline-block;
}

.LoadingText-iconContainer {
  display: inline-block;
  fill: color(secondary);
  margin-right: 4px;
  vertical-align: middle;
  width: 20px;
}
