
.MobileNavigationPanel {
  transition: transform 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-overflow-scrolling: touch;
  background-color: var(--branding-header-bg-color, white);
  bottom: 0;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(240px);
  width: 240px;
  z-index: 8;

  @include media($breakpoint-smallUp) {
    display: none;
  }

  .has-navigationOpen & {
    transform: none;
  }

  .p-primary-header & {
    background-color: var(--branding-primary-color, color(brand));
  }

  .p-dark-header & {
    background-color: color(dark);
  }
}

.MobileNavigationPanel-list {
  border-top: 1px solid rgba(black, 0.1);
  padding: 12px 0;

  .p-dark-nav &,
  .p-primary-nav &,
  .p-custom-nav & {
    border-top-color: rgba(white, 0.2);
  }
}

.MobileNavigationPanel-item a {
  color: var(--branding-header-text-color, color(secondary));
  display: block;
  line-height: 2.5;
  padding-left: 20px;

  .p-primary-header & {
    color: color(light);
  }

  .p-dark-header & {
    color: color(light);
  }
}

.MobileNavigationPanel-item a.is-active {
  color: var(--branding-header-text-color, color(brand));

  .p-primary-header &,
  .p-dark-header & {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.MobileNavigationPanel-iconContainer {
  display: inline-block;
  fill: var(--branding-header-icon-color, color(medium));
  margin-right: 12px;
  vertical-align: text-bottom;
  width: 12px;

  .p-dark-nav &,
  .p-primary-nav & {
    fill: color(medium);
  }
}

.MobileNavigationPanel-avatarContainer {
  display: block;
  margin: 12px auto;
  width: 64px;
}
