.MoreLink {
  color: inherit;
  display: inline-block;
  font-weight: bold;
  vertical-align: top;
}

.MoreLink-icon {
  display: inline-block;
  margin-left: 4px;
  vertical-align: middle;
  width: 10px;
}
