
.SiteAbout-heading {
  border-bottom: 1px solid color(border);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.SiteAbout-about {
  font-size: 15px;
  margin-bottom: 15px;
}

.SiteAbout-integrations {
  margin-bottom: 20px;

  li {
    margin-bottom: 5px;
  }
}
