html,
body,
div,
span,
applet,
object,
embed,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
xmp,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
button,
textarea,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
  background: transparent;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

ol,
ul {
  list-style: none;
}

small {
  font-size: 85%;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

img {
  display: block;
  border: 0;
  -ms-interpolation-mode: bicubic;
  width: 100%;
  height: auto;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
select,
textarea {
  vertical-align: baseline;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

object,
embed {
  max-width: 100%;
  height: 100%;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
